body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #fff;
    font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif;
}

#container{
    position: relative;
    height: 90vh;
    width: 25%;
    left: 35%;
    margin-top: 20px;;
    background-color: #292929;
    overflow: hidden;
}
.line{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background-color: rgba(255,255,255,0.5);
}
#line_1{
    top: -150px;
}
#line_2{
    top: 150px;
}
#line_3{
    top: 450px;
}
.car{
    position: absolute;
    height: 75px;
    width: 34px;
}
#car{
    bottom: 8%;
    left: 60%;
    background-color: #ffdf5a;
    background: url(./car.png);
}
#car_1{
    top: -100px;
    left: 60%;
    background-color: #ffdf5a;
    background: url(./othercar.png);
}
#car_2{
    top: -200px;
    left: 40%;
    background-color: #ffdf5a;
    background: url(./othercar.png);
}
#car_3{
    top: -350px;
    left: 50%;
        background-color: #ffdf5a;
    background: url(./othercar.png);
}
#restart_div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #56585D;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    display: none;
}

#restart {
    border: none;
    padding: 20px;
    color: white;
    background-color: #80BD82;
    font-size: 20px;
    margin-top: 30%;
}
.small_text{
    font-size: 15px;
}
#score_div {
    position: absolute;
    margin-top: 0%;
    margin-left: 64%;
    font-size: 35px;
    background-color: white;
    color: #454545;
    padding: 10px;
}

#help p{text-align: center;
    font-size: 16px;}